/* General styles */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --header-logo-color: #2196f3;
  --header-logo-last-color: #000000;
  --footer-logo-color: #2196f3;
  --footer-logo-last-color: #ffffff;
  --accent-color: #2196f3;
  --background-color-fon: #2f303a;
  --hero-color: #ffffff;
  --button-bkg-mouse: #188ce8;
  --background-color-button: #2196f3;
  --team-bkg: #f5f4fa;
  --footer-color-list-adress: #ffffff;
  --footer-color-list-mail-tel: rgba(255, 255, 255, 0.6);
  --button-filtr-font: #212121;
  --button-filtr-bkg: #f5f4fa;
  --button-filtr-font-active: #ffffff;
  --button-filtr-bkg-active: #2196f3;
}
.body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bkg {
  background-color: var(--background-color-fon);
}

.container {
  width: 1200px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0;
  margin-bottom: 0;

  outline: 2px solid red;
}

.main-nav {
  display: flex;
  align-items: center;
}
/* Header styles */
.header-nav {
  display: flex;
}
.logo-flex {
  display: flex;
padding-top: 24px;
padding-bottom: 25px;
  margin-left: 215px;
}
.header-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--header-logo-color);
}
.header-logo-last {
  margin-right: 0;
  color: var(--header-logo-last-color);
}
.header-list {
  display: flex;
  margin-left: 93px;
}
.header-list-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  background-color: tomato;
}

.header-list-item:not(:last-child) {
  margin-right: 50px;
} 

.header-list-link:hover,
.header-list-link:active,
.header-tel-link:hover,
.header-tel-link:active,
.header-mail-link:hover,
.header-mail-link:active {
  color: var(--accent-color);
}

.active-link {
  color: var(--accent-color);
}


.mail-tel-nav {
  display: flex;
 margin-left: auto; 
}

.mail-tel-nav .item {
  margin-right: 50px;
}

/* .mail-tel-nav .item:not(:last-child) {
  margin-right: 50px; */

.header-tel-link {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-mail-link {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* Hero style */
.hero {
  /* width: 1600px;
  height: 600px; */
  text-align: center;
  outline: 2px solid red;
  margin-top: 0;
  margin-bottom: 94px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-color);
  display: inline-block;
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--hero-color);
  background-color: var(--background-color-button);
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 32px;
  min-width: 216px;
  margin-bottom: 200px;

  /* Width 216px Height 50px  размер кнопки в макете*/
}
.hero-button:hover,
.hero-button:active {
  background-color: var(--button-bkg-mouse);
  cursor: pointer;
}

/* Features styles */
.features {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #188ce8;
}
.features-titles {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* works styles */
.works {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: orange;
}
.title-works {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/* team styles */
/* .features {
  margin-bottom: 94px;
}
.features-titles {
  margin-top: 0;
  margin-bottom: 10px; */
.team {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-bkg);
}
.team-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.particapant-photo {
  margin-top: 0;
  margin-bottom: 30px;
}
.particapant-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.particapant-post {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* footer styles */
.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--footer-logo-color);
}
.footer-logo-last {
  color: var(--footer-logo-last-color);
}
.footer-list-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--footer-color-list-adress);
}
.footer-list-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--footer-color-list-mail-tel);
}
.footer-list-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--footer-color-list-mail-tel);
}
.footer-list-adress:hover,
.footer-list-adress:active,
.footer-list-mail:hover,
.footer-list-mail:active,
.footer-list-tel:hover,
.footer-list-tel:active {
  color: var(--accent-color);
}

/* portfolio */
.portfolio-filtr-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--button-filtr-fontr);
  background-color: var(--button-filtr-bkg);
  cursor: pointer;
}
.active-filtr {
  color: var(--button-filtr-font-active);
  background-color: var(--button-filtr-bkg-active);
}
.portfolio-filtr-link:hover,
.portfolio-filtr-link:active {
  color: var(--button-filtr-font-active);
  background-color: var(--button-filtr-bkg-active);
}
.portfolio-project {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio-filtr-name {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
